* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  height: 44px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.slogan {
  margin-left: 16px;
  margin-top: 10px;
}

.hamburger {
  background-color: #060a24;
  height: 2px;
  width: 18px;
  content: "";
  position: absolute;
}

.hamburger::before {
  background-color: #060a24;
  height: 2px;
  width: 18px;
  content: "";
  margin-top: 5px;
  position: absolute;
}

.hamburger::after {
  background-color: #060a24;
  height: 2px;
  width: 18px;
  content: "";
  margin-top: 10px;
  position: absolute;
}

.menu {
  width: 18px;
  margin: 16px;
}
.menu input,
.menu i {
  opacity: 0;
  position: absolute;
  margin-left: 4px;
  padding-bottom: 6px;
}

.menu i {
  z-index: -1;
}

.links {
  display: none;
  width: 100vw;
  height: 224px;
  position: absolute;
  margin-top: 44px;
  background-color: #0000EC;
  left: 0px;
}
.links a {
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  padding-left: 16px;
}

.tick:checked ~ .links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.tick:checked ~ i {
  opacity: 1;
}

.tick:checked ~ .hamburger {
  display: none;
}

@media screen and (min-width: 1200px) {
  .part-0 {
    padding-left: 200px;
  }

  #principal-title {
    flex-direction: row;
  }

  .pale-blue {
    margin-left: 10px;
  }

  .pale-blue::after {
    color: #0000EC !important;
  }

  #first-button {
    width: 226px;
  }

  .main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .main-content .back {
    grid-column: 1/3;
  }
  .main-content .grid:nth-child(even) {
    grid-column: 2/3;
  }
  .main-content .grid:nth-child(odd) {
    grid-column: 1/2;
  }
}
h1 {
  display: none;
}

.main-title {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}
.main-title .first-line,
.main-title .second-line {
  display: flex;
}

.world, .hello, .pale-blue {
  font-size: 36px;
  color: #060a24;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}

.pale-blue::after {
  content: ".";
  font-size: 36px;
  color: #060a24;
}

.world {
  padding-left: 9px;
  text-decoration: line-through;
}

.paragraph {
  padding: 0 16px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  margin-top: 10px;
}

.main-button, .second-button {
  padding: 0 16px;
  margin: 30px 0 50px 0;
  display: flex;
  justify-content: flex-start;
}

.button-1, .button-2 {
  background-color: #00f3bb;
  width: 100%;
  color: #060a24;
  font-size: 16px;
  height: 48px;
  font-family: "IBM Plex Mono Medium", monospace;
  font-weight: 700;
  border: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  overflow: hidden;
}

.back, .back-2 {
  width: 100%;
  height: 1200px;
  content: "";
  background: linear-gradient(#0000FF, #0000A3);
  transform: skew(0deg, -6deg);
  position: absolute;
  z-index: -1;
  margin-top: -600px;
}

#episodios {
  padding-bottom: 10px;
  color: white;
  font-size: 36px;
}

.spotify {
  padding: 0px 11px;
  margin: 5px 0;
}

#phone {
  width: 100%;
  margin: 40px 0 30px 0;
}

h2 {
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 42px;
  color: #060a24;
  padding: 0 16px;
  font-weight: 500;
}

.text-1 {
  margin-bottom: 50px;
}

.images {
  line-height: 0;
  margin-bottom: 40px;
  margin-top: 15px;
}

.photo {
  width: 100%;
}

#title-icons {
  margin-bottom: 25px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons #icon1,
.icons #icon2, .icons #icon3, .icons #icon4 {
  width: 104px;
  height: 104px;
}

.item-icons:nth-child(even) {
  margin-bottom: 30px;
  font-family: "IBM Plex Sans Semibold", sans-serif;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
  color: #060a24;
}

.item-icons:nth-child(odd) {
  margin-bottom: 10px;
}

.news {
  height: 341px;
  position: relative;
  content: "";
  overflow: hidden;
  padding-top: 25px;
}

h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  line-height: 42px;
  padding: 0 16px;
  font-weight: 400;
}

.button-2 {
  padding: 0 16px;
}

h4 {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}

.media-icons {
  margin: 20px 0 40px 0;
  display: flex;
  justify-content: space-evenly;
}

/*# sourceMappingURL=index.css.map */
