@import 'reset.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'desktopView.scss';

//*Estilos main//*

//*Título//*
h1{
    display: none;
}
.main-title {
    display: flex;
    flex-direction: column;
    padding-left: $main-title-paddingl;
    &
    .first-line, .second-line{
        display: flex;
    }
}

.world, .hello, .pale-blue{
    font-size: $h2-size;
    color: $h2-font-color;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;

}
.pale-blue::after{
    content: '.';
    font-size: $h2-size;
    color: $h2-font-color;
}
.world{
    padding-left: $world-paddingl;
    text-decoration: line-through;
}
.paragraph{
    padding: 0 $paragraph-paddingw;
    font-family: 'IBM Plex Mono', monospace;
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
    letter-spacing: 0;
    margin-top: $paragraph-margint;
}
.main-button{
    padding: 0 $button-paddingw;
    margin: $button-margint 0 $button-marginb 0;
    display: flex;
    justify-content: flex-start;
}
.button-1{
    background-color: $button-background-color;
    width: 100%;
    color: $button-font-color;
    font-size: $button-font-size;
    height: $button-height;
    font-family: 'IBM Plex Mono Medium', monospace;
    font-weight: $button-font-weight;
    border: none;
}
//*spotify//*

.main-content{
    position: relative;
}


.back, .back-2{
    width: 100%;
    height: $back-height;
    content: '';
    background: linear-gradient($back-color-1,$back-color-2);
    transform:skew(0deg, 175deg);;
    transform-origin: right;
    position: absolute;
    z-index: -1;
}
.media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: $media-paddingt;
    overflow: hidden;
}
.media .episodios{
    padding-bottom: $episodios-paddingb;
    color: white;
    font-size: $episodio-size;
}
.spotify{
   padding: 0px $spotify-paddingw; 
   margin: $spotify-marginh 0;
   transform: scaleY(0.9698275862068966) scaleX(0.93125);
}
.fotograph{
    width: 100%;
    margin: $phone-margint 0 $phone-marginb 0;
}
h2{
    font-size: $h2-size;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: $h2-line-height;
    color: $h2-font-color;
    padding: 0 $h2-paddingw;
    font-weight: 500;

}
.text-1{
    margin-bottom: $text-1-marginb;
}
//*!!parrafo*//
.images{
    line-height: 0;
    letter-spacing: 0;
    margin-bottom: $images-marginb;
    margin-top: $images-margint;
}
.photo{
    width: 100%;
}
//*section 3//*

#title-icons{
    margin-bottom: $title-icons-marginb;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    &
    .icon-image{
        width: $icon-width;
        height: $icon-height;
    }
}
    //*labels de icons//*
.item-icons:nth-child(even){
    margin-bottom: $label-marginb;
    font-family: 'IBM Plex Sans Semibold', sans-serif;
    text-align: center;
    font-size: $label-font-size;
    letter-spacing: 0;
    color: $label-color;
}
.item-icons:last-child{
    margin-bottom: 40px;
}

#jump{
    display: none;
}
    //*icons//*
.item-icons:nth-child(odd){
    margin-bottom: $icon-marginb;
}
    //*novedades//*
.news{
    position: relative;
    content: '';
    padding-top: $news-paddingt;
    overflow: hidden;
    &
    .back-2{
        transform-origin: right;
        margin-top: 50px;
    }
    
}
h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: $h3-font-size;
    color: $h3-color;
    margin-top: $h3-margint;
    text-align: center;
    line-height: $h3-line-height;
    padding: 0 $h3-paddingw;
    font-weight: $h3-font-weight;
    padding-top: 100px;
}
.second-button{
    @extend .main-button;
}
.button-2{
    @extend .button-1;
    padding: 0 $button-paddingw;
}
//*footer//*
footer{
    background-color: white;
    margin-top: 0px;
    height: 121px;
    padding-top: 24px;
}
h4{
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: $h4-font-size;
    font-weight: $h4-font-weight;
    line-height: 28px;
}
.media-icons{
    margin: $media-icons-margint 0 $media-icons-marginb 0;
    display: flex;
    justify-content: space-evenly;
}