@import 'reset.scss';
@import 'variables.scss';
@import 'hamburger.scss';

header {
    height: 44px;
}


//*Estilos main//*

//*Título//*
.main-title {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    padding-left: $main-title-paddingl;
    &
    .first-line, .second-line{
        display: flex;
    }
}

.world, .hello, .pale-blue{
    font-size: $h2-size-color;
    color: $h2-font-color;
}
.pale-blue::after{
    content: '.';
    font-size: $h2-size-color;
    color: $h2-font-color;
    margin-left: $dot-marginl;
}
.world{
    padding-left: 9px;
}
.paragraph{
    padding: 0 16px;
}
.main-button{
    padding: 0 $button-paddingw;
    margin: $button-margint 0;
    
}
#button-1{
    background-color: $button-background-color;
    width: 100%;
    color: $button-font-color;
    font-size: $button-font-size;
    height: $button-height;
}
.menu{
    height: inherit;
    width: $hamburger-width;
    margin: $hamburger-margin;
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: $header-marginb;
}
.slogan{
    margin-left: $slogan-marginl;
    margin-top: $slogan-margint;
}