
$button-background-color: #00f3bb;
$button-font-color: #060a24;
$button-margint: 16px;
$button-paddingw: 16px;
$button-font-size: 16px;
$button-height: 44px;
$dot-marginl:-5px;
$h2-font-color: #060a24;
$h2-size-color: 36px;
$hamburger-color: #060a24;
$hamburger-width: 18px;
$hamburger-height: 2px;
$hamburger-margin: 16px;
$header-marginb: 16px;
$main-background-color: #fff;
$main-title-paddingl: 16px;
$p-size-color: 14px;
$p-margint: 10px;
$slogan-marginl: 16px;
$slogan-margint: 10px;