
$back-color-1: #0000FF;
$back-color-2: #0000A3;
$back-height: 1200px;
$button-background-color: #00f3bb;
$button-font-color: #060a24;
$button-font-size: 16px;
$button-font-weight: 700;
$button-height: 48px;
$button-marginb: 50px;
$button-margint: 30px;
$button-paddingw: 16px;
$dot-marginl:-5px;
$episodios-paddingb: 10px;
$episodio-size: 36px;
$h2-font-color: #060a24;
$h2-line-height: 42px;
$h2-paddingw: 16px;
$h2-size: 36px;
$h3-color: #fff;
$h3-font-size: 36px;
$h3-font-weight: 400;
$h3-line-height: 42px;
$h3-margint: 20px;
$h3-paddingw:16px;
$h4-font-size: 14px;
$h4-font-weight: 400;
$h4-margint: 15px;
$icon-height: 104px;
$icon-marginb: 10px;
$icon-width: 104px;
$images-marginb: 40px;
$images-margint: 15px;
$label-color:  #060a24;
$label-font-size: 24px;
$label-marginb: 30px;
$main-background-color: #fff;
$main-title-paddingl: 16px;
$media-icons-margint: 20px;
$media-icons-marginb: 40px;
$media-paddingt: 50px;
$news-paddingt: 25px;
$paragraph-font-size: 14px;
$paragraph-line-height: 22px;
$paragraph-margint: 10px;
$paragraph-paddingw: 16px;
$phone-marginb: 30px;
$phone-margint: 40px;
$spotify-marginh: 5px;
$spotify-paddingw: 11px;
$title-icons-marginb: 25px;
$text-1-marginb: 50px;
$world-paddingl: 9px;
